<script setup lang="ts">
import FancyButton from '@/components/FancyButton.vue';
import { mdiHeartMultiple } from '@mdi/js';
import { mdiCursorDefaultClick } from '@mdi/js';
</script>

<template>
  <v-container>
    <v-row>
      <v-col><FancyButton><v-icon :icon="mdiHeartMultiple" />Love Me
      <template v-slot:tail> Tail </template></FancyButton></v-col>
      <v-col><FancyButton>Click Me
      <template #tail><v-icon :icon="mdiCursorDefaultClick" /> My Tail</template></FancyButton></v-col>
    </v-row>
  </v-container>
</template>