<script setup lang="ts"></script>

<template>
  <v-parallax height="850" src="https://wallpaperaccess.com/full/1320623.jpg">
    <div class="text-center">
      <v-col><v-btn size="x-large" variant="outlined" color="secondary" @click="dialog = true">Open
          Portfolio</v-btn></v-col>
      <v-dialog v-model="dialog">
        <v-card style="font-size: 45px;">
          <v-card-text class="text-center" style="font-weight: bolder;">Portfolio</v-card-text>
          <v-container class="justify-center">
            <v-row>
              <v-col align="center">
                <v-avatar image="https://i.pinimg.com/736x/f0/d5/bb/f0d5bbe3a453bd34a748b61ac8005120.jpg"
                  size="100"></v-avatar>
              </v-col>
            </v-row>
            <v-table>
              <thead align="left">
                <th style="font-size: 20px;" >Profile</th>
              </thead>
              <tbody>
                <tr style="font-size: x-large;">- ชื่อ : ปวริศ </tr>
                <tr style="font-size: x-large;">- นามสกุล : วชิระนันทกุล</tr>
                <tr style="font-size: x-large;">- สิ่งที่เราสนใจ : หมากรุก และ เล่นเกมส์</tr>
                <tr style="font-size: x-large;">- ประวัติการศึกษา : ระดับมัธยมศึกษา = โรงเรียนมารีวิทย์ พัทยา</tr>
              </tbody>
            </v-table>
          </v-container>
          <v-card-actions>
            <v-btn size="x-large" variant="outlined" color="primary" block @click="dialog = false">Close
              Portfolio</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-parallax>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
    }
  },
}
</script>